<!DOCTYPE html>
<html lang="en">
<head>
     <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/dist/img/myicon.jpg">
    
    {% if page.title %}
        <title>{{ page.title }} - Life For Coding</title>
    {% else %}
        <title>Life For Coding</title>
    {% endif %}
   <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../dist/css/extended.css">
   <script src="../dist/js/jquery.js"></script>
   <script src="../dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="blog-head">
<div class="container">
<div class="container-main">
   
        <nav class="blog-nav pull-right">
            <a class="blog-nav-item" href="#">Home</a>
        </nav>
        <nav class="blog-nav pull-right">
            <a class="blog-nav-item" href="#">Contact</a>
       </nav>
       <nav class="blog-nav pull-right">
	         <a class="blog-nav-item" href="#">Project</a>
       </nav>
   </div>
</div>
</div>
    <div class="span12" style="border-right: 1px solid #ccc" ></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      </div>
   <div class="container">
      
      <div class="blog-header">
        <a href="/" style="text-decoration: none ! important;"><h class="blog-title">Life For Coding</h></a>
        <p class="lead blog-description">Do Coding</p>
      </div>
      

      <div class="row">
        <div class="col-sm-8 blog-main">
