        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <p>
              <img src="../dist/img/profile.jpg" style="width:100px;height:100px">
            </p>
            <h4>About</h4>
            <p>
			 Hello,I am Argha Kamal Sahoo curious about something new.I like to freak out myself until any problems solved.I don't like to attach
             myself with hackneyed academic syllabus.Currently I am doing a project on Home Automation System,when it will be completed, anybody can control
             their home appliances from any remote site.As the total system connected with the internet, so anybody can switch on or off their home devices
             through a proper administrative privilege from any corner of the world.It can be a remedy of the wastage of power,as well as everyone will be able 
             to control their home appliances from any place at any time.I am looking forward for that day when it will be applicable successfully.
            </p>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

